<div class="view-post-comment-user">
    <div class="view-post-comment-name">
        <a href="#"><%= comment.username %></a>
        <div class="view-post-comment-options">
            <%if(session.isLoggedIn){%>
                <% if(session.username == comment.username){ %>
                    <!-- To Do: Add Delete and Edit -->
                    <form action="/deleteComment/<%= post._id %>/<%= comment._id %>" method="post">
                        <button id="report-comment"><i class="bi bi-trash-fill"></i> DELETE</button>
                    </form>
                    <form action="#" method="post">
                        <button id="report-comment"><i class="bi bi-pencil-fill"></i> EDIT</button>
                    </form>
                <% } else { %>
                    <form action="/commReport/<%= post._id %>/<%= comment._id %>" method="post">
                        <button id="report-comment"><i class="bi bi-flag-fill"></i> REPORT</button>
                    </form>
                <% } %>
            <%}%>
        </div>
    </div>
    <div class="view-post-comment-content">
        <p><%= comment.content %></p>
    </div>
    <div class="view-post-comment-date">
        <i class="bi bi-clock"></i> Commented on: <%= comment.date.toDateString() %>
    </div>
</div>