<div class="post-box">
    <div class="post-user-link">
        <a href="/user/<%= post.username %>">Posted by: <%= post.username %> </a>      
    </div>
    <div class="post-header">
        <a href="/post/<%= post._id %>" class="post-caption"><h2><%= post.caption %></h2></a>
    </div>
    <div class="post-content-box">
        <img class="post-content" src="/images/posts/<%= post.img %>">
    </div>
    <div class="post-footer">
        <div class="post-info">
            <p id="post-count"><i id="post-count-icon" class="bi bi-arrow-down-up"></i> Votes: <%= post.upvotes + post.downvotes %></p>
            <p class="post-date"><i class="bi bi-clock"></i> Posted on: <%= post.dateCreated.toDateString() %></p>
            <hr class="post-divider">
        </div>
    </div>
</div>