<div class="view-post-container">
    <div class="view-post-user">
        <div class="view-post-user-prof">
            <img src="/images/pfps/<%= user.img %>">
        </div>
        <div class="view-post-user-name">
            <a href="/user/<%= post.username %>"><%= post.username %></a>
            <hr/>
            <p>Posted on: <%= post.dateCreated.toDateString() %></p>
        </div>
    </div>
    <hr>

    <div class="view-post-title">
        <h2><%= post.caption %></h2>
    </div>
    <hr/>
    <div class="view-post-stats">
        <% if(session.isLoggedIn){ %>
            <form action="/vote/<%= post._id%>" method="post" id="post-vote-form">
                <button name="voteBtn" value="1" id="upVote" type="submit">
                    <i id="post-upv" class="bi bi-caret-up"></i>
                    <p>UPVOTE</p>
                </button>
                <button name="voteBtn" value="-1" id="downVote" type="submit">
                    <i id="post-dv" class="bi bi-caret-down"></i>
                    <p>DOWNVOTE</p>
                </button>
                <button id="view-post-remove-vote" name="voteBtn" value="0" type="submit">Remove Vote</button>
            </form>

            <p id="view-post-count">YOU HAVE: 
                <% if(vote.vote === 1){ %>
                    <b style="color: yellowgreen;">UPVOTED</b></p>
                <% } else if (vote.vote === -1) {%>
                    <b style="color: red;">DOWNVOTED</b></p>
                <% } else if (vote.vote === 0) {%>
                    <b style="color: #FFFF9F;">NOT VOTED YET</b></p>
                <% } %>
        <% } %>

        &nbsp;
        <p id="view-post-count">VOTE COUNT: <%= post.upvotes - post.downvotes %></p>

        <div class="view-post-stats-others">
            <% if(session.isLoggedIn){ %>
                <% if (session.username === post.username) { %>
                    <form action="/postDelete/<%= post._id %>" method="post">
                        <button type="submit" id="post-delete"><i class="bi bi-trash-fill"></i> DELETE</button>
                    </form>
                <% } else { %>
                    <form action="/postReport/<%= post._id %>" method="post">
                        <button type="submit" id="post-report"><i class="bi bi-flag-fill"></i> REPORT</button>
                    </form>
                <% } %>
            <% } %>
        </div>
    </div>
    <br />
    <div class="view-post-content">
        <!-- TO-DO - DATABASE NEED: Replace with ACTUAL User Post Image -->
        <img class="post-content" src="/images/posts/<%= post.img %>">
    </div>
    <br>

    <!-- Comments Section -->
    <div class="view-post-comment-section">
        <div class="view-post-comment-stats">
            <h2>Comments Section</h2>
            <hr/>
        </div>
        <div class="view-post-comment-add">
            <% if(session.isLoggedIn){ %>
                <!-- TO-DO - Add action -->
                <form action="/addComment/<%= post._id %>" method="post">
                    <div class="input-group mb-3">
                        <input name="commentInput" type="text" minlength="3" maxlength="256" class="form-control" placeholder="Comment Here..." aria-label="Recipient's username" aria-describedby="button-addon2" required/>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Comment</button>
                    </div>
                </form>
            <% } %>
        </div>
        <% if (comments.length > 0) {%> 
            <% comments.forEach(comment => { %> 
                <%- include("./partials/comment.ejs", {comment: comment}) %>
            <% }) %> 
        <% } %>
    </div>
    
</div>