<!-- Side Container -->
<aside class="accSet-side">
    <a href="/user/<%= user.username %>"><button>Go to Profile Page</button></a>
    <h2>Account Settings</h2>
    <hr>
    <p>Sections:</p>
    <ul>
        <li>Personal Information</li>
        <li>Sign In Details</li>
        <li>Profile Picture</li>
        <li>Profile Biography</li>
    </ul>
    <p>NOTE: You can only save changes per section (page is reloaded after clicking one of the "Save Changes").</p>
</aside>

<!-- Forms -->
<div class="accSet-form-container">
    <!-- Section 1 Container -->
    <div class="accSet-box">
        <div class="accSet-header">
            <h2 id="accSetSec1">EMAIL ADDRESS</h2>
            <p>
                This information is private and will not be shared with other people.
            </p>
        </div>
        <div class="accSet-field">
            <!-- TO-DO - DATABASE NEEDED:
                1. Add ACTION and METHOD to <form>
                2. Update database after clicking "Save Changes"         
            -->
            <form action="/settings/updateEmail/<%= user.username %>" method="post">
                <label><b>E-MAIL ADDRESS</b></label><br />
                <input type="email" name="updEmail" placeholder="Update E-Mail Address. . ." value="<%= user.email %>" required>
                <br/>
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
    <!-- Section 2 Container-->
    <div class="accSet-box">
        <div class="accSet-header">
            <h2 id="accSetSec2">SIGN IN DETAILS</h2>
            <p>
                We recommend that you periodically update your password to help prevent unauthorized access to your
                account.
            </p>
        </div>
        <div class="accSet-field">
            <!-- TO-DO - DATABASE NEEDED:
                1. Add ACTION and METHOD to <form>
                2. Update database after clicking "Save Changes"         
            -->
            <form action="/settings/updatePass/<%= user.username %>" method="post">
                <label><b>PASSWORD</b></label><br />
                <input type="password" name="updPass" placeholder="Update Password. . ." value="<%= user.password %>" minlength="8" maxlength="16" required>
                <br/>
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
    <!-- Section 3 Container-->
    <div class="accSet-box">
        <div class="accSet-header">
            <h2 id="accSetSec3">PROFILE PICTURE</h2>
            <p>
                Replace the profile picture displayed on your profile page.
            </p>
        </div>
        <div class="accSet-field">
            <!-- TO-DO - DATABASE NEEDED:
                1. Add ACTION and METHOD to <form>
                2. Update database after clicking "Save Changes"         
            -->
            <form action="/settings/updatePfp/<%= user.username %>" method="post" enctype="multipart/form-data">
                <label><b>PROFILE PICTURE</b></label><br />
                <div id="accSet-img"></div>
                <input id="accSet-img-input" class="accSet-input2" type="file" name="updPfp" accept="image/png, image/jpg, image/jpeg" required><br />
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

    <!-- Section 4 Container-->
    <div class="accSet-box">
        <div class="accSet-header">
            <h2 id="accSetSec3">PROFILE BIOGRAPHY</h2>
            <p>
                Edit the biography displayed on your profile page.
            </p>
        </div>
        <div class="accSet-field">
            <!-- TO-DO - DATABASE NEEDED:
                1. Add ACTION and METHOD to <form>
                2. Update database after clicking "Save Changes"         
            -->
            <form action="/settings/updateBio/<%= user.username %>" method="post">
                <label><b>BIOGRAPHY</b></label><br />
                <textarea class="accSet-input3" name="updBio" rows="7px" cols="50px"  minlength="3" maxlength="200" required><%= user.bio %></textarea><br /><br />
                <button type="submit" name="updBio">Save Changes</button>
            </form>
        </div>
    </div>
    <br /><br />
</div>