<div class="profile-container">
    <div class="profile-user-container">
        <div class="profile-header">
            <div class="profile-header-name">
                <!-- TO-DO - DATABASE NEED: Replace with ACTUAL User Username -->
                <h1><b><%= users.username %></b></h1>
            </div>
            <!-- TO-DO - DATABASE NEED: If profile is User's, show "Edit Profile"; If NOT User's own profile, REMOVE "Edit Profile" -->
            <div class="profile-header-btn">
                <a href="settings"><button>Edit Profile</button></a>
            </div>
        </div>
        <div class="profile-image">
            <!-- TO-DO - DATABASE NEED: Replace with ACTUAL User Profile -->
            <img src="/images/pfps/<%= users.img %>"/>
        </div>
        <div class="profile-bio">
            <h2><b>BIOGRAPHY</b></h2>
            <!-- TO-DO - DATABASE NEED: Replace with ACTUAL User Bio-->
            <p><%= users.bio %></p>
        </div>
    </div>
    <div class="profile-posts">
        <div class="profile-posts-header">
            <h2>Posts</h2>
            <hr/>
        </div>
       <!-- TO-DO - DATABASE NEED: Make sure ALL posts of user is displayed here -->
        <% if (posts.length > 0) {%> 
            <% posts.forEach(post => { %> 
                <%- include("./partials/postBox.ejs", {post: post}) %>
                <!-- Report Modals -->
                <%- include("./partials/reportPost.ejs", {post: post}) %> 
            <% }) %> 
        <% } %>
    </div>
</div>